---
---

@import "fonts";
@import "font-awesome/font-awesome";
@import "vendor/plumber";
@import 'app';
@import 'susy';
@import 'plugins/svg-grid';
//@import 'compass/typography';

$base-font-size: 100px;


body {
  font-family: oswald;
}

article {
  background: susy-svg-grid() no-repeat scroll;
  width: span(12 of 24);
}

.columns {
  background-color: gray;
  border: solid 1px lightcoral;
}

$body-font: Roboto, sans-serif;
$body-baseline: 0.158203;

$quote-font: Georgia, serif;
$quote-baseline: 0.151123;


p {
  @include plumber(
          $grid-height: 1rem,
          $baseline: 0.158203,
          $font-size: 1.75,
          $line-height: 3,
          $leading-top: 1,
          $leading-bottom: 2
  );
  font-family: Roboto, sans-serif;
}



blockquote {
  @include plumber($baseline: $quote-baseline);
  font-family: $quote-font;
}