---
---

@import "foundation/functions";
@import "foundation/settings";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "fonts";
@import "font-awesome/font-awesome";

body {
  font-family: oswald;
}

.columns {
  background-color: gray;
  border: solid 1px lightcoral;
}